{% extends 'core/base.html' %}
{% block content %}
  <h1>Bank</h1>
  <table class="table">
    <tr>
      <th>Id</th>
      <th>Number</th>
      <th>Name</th>
    </tr>
    {% for bank in banks %}
    <tr>
      <td>{{ bank.id }}</td>
      <td>{{ bank.bank_number }}</td>
      <td>{{ bank.name }}</td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}