{% extends 'core/base.html' %}
{% block content %}
<h2>Novo banco</h2>

<form method="POST">
    {% csrf_token %}
    {% for field in form %}
      <div class="form-group">
          <label for="id_{{ field.name }}">{{ field.label }}</label>
         {{ field | attr:"class:form-control" }}
      </div>
    {% endfor %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Gravar Banco</button>
</form>
{% endblock %}