<!DOCTYPE html>
<html>
<head>
  <title>Arquivos CNAB</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"> 
</head>
<body>
  <div class="container">
  {% block content %}
  {% endblock %}
  </div>
</body>
</html>