{% extends 'core/base.html' %}
{% block content %}
<h1>Cities</h1>

<table class="table">
  <tr>
    <th>Id</th>
    <th>State</th>
    <th>Sigla</th>
  </tr>
  {% for city in cities %}
    <tr>
      <td>{{ city.id }}</td>
      <td>{{ city.state.initials }}</td>
      <td>{{ city.name }}</td>
    </tr>
  {% endfor %}
</table>
{% endblock %}