{% extends 'core/base.html' %}
{% block content %}
<h1>States</h1>

<table class="table">
  <tr>
    <th>Id</th>
    <th>State</th>
    <th>Sigla</th>
  </tr>
  {% for state in states %}
    <tr>
      <td>{{ state.id }}</td>
      <td>{{ state.name }}</td>
      <td>{{ state.initials }}</td>
    </tr>
  {% endfor %}
</table>
{% endblock %}